* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: #222222;
}

body {
    background: #aaaaaa;
}

nav {
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
    text-align: center;
    margin: 14px 16px;
}

a {
    text-decoration: none;
}

.icon {
    width: 50px;
    height: 50px;
    filter: invert(19%) sepia(2%) saturate(25%) hue-rotate(314deg) brightness(88%) contrast(91%);
}

img:hover, button:hover {
    cursor: pointer;
}

img:hover {
    filter: invert(0%) sepia(0%) saturate(30%) hue-rotate(154deg) brightness(108%) contrast(106%);
}

#number {
    font-size: 72px;
}

table {
    margin: 40px auto;
    font-size: 24px;
}

td {
    padding: 8px;
}

input {
    height: 40px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.play {
    width: 50%;
    height: 8%;
    border-radius: 10px;
    /* margin-top: 40%; */
    font-size: 32px;
}

.option {
    width: 25%;
    height: 8%;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 32px;
}

.settings {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

#about-screen {
    width: 85%;
    margin: 10px auto;
}

/* media query for mobile */