@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: #222222;
}

body {
  background: white;
  /* background: #aaaaaa; */
  margin: 0 auto;
}

/* header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid black;
}
header a {
  /* font-family: 'Alfa Slab One'; */
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
}
/* header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header ul li {
  display: inline-block;
  margin-left: 25px;
  width: 32px;
  height: 32px;
} */

/* .title {
  width: 100%;
} */
.menuLeft,
.menuRight {
  width: 100px;
  display: flex;
  align-items: center;
}
.menuLeft {
  justify-content: start;
}
.menuRight {
  justify-content: end;
}
.icon {
  height: 28px;
  width: 28px;
  margin: 0 8px;
}

.menuLeft button,
.menuRight button {
  /* width: 28px;
  height: 28px; */
  /* margin: 6px; */
  border: none;
  background-color: transparent;
  /* filter: invert(19%) sepia(2%) saturate(25%) hue-rotate(314deg) brightness(88%)
    contrast(91%); */
}
img:hover,
button:hover {
  cursor: pointer;
}
img:hover {
  filter: invert(0%) sepia(0%) saturate(30%) hue-rotate(154deg) brightness(108%)
    contrast(106%);
}


/* difficult mode slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* content css */
#number {
  font-size: 72px;
}

table {
  margin: 40px auto;
  font-size: 24px;
}

td {
  padding: 8px;
}

input {
  height: 40px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.start {
  width: 50%;
  height: 8%;
  border-radius: 10px;
  margin-top: 100px;
  font-size: 32px;
}

.option {
  width: 25%;
  height: 8%;
  border-radius: 10px;
  margin: 30px 10px;
  font-size: 32px;
}

.settings {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
}

#about-screen {
  /* width: 60%; */
  margin-right: auto;
  margin-left: auto;
}

.screen {
  margin-top: 200px;
}

/* media queries */
@media (max-width: 768px) {
  header {
    padding: 12px;
  }
  header a {
    font-size: 26px;
  }
  .icon {
    height: 24px;
    width: 24px;
    margin: 0 4px;
  }
  /* header ul li {
    margin-left: 15px;
    width: 26px;
    height: 26px;
  } */

  table {
    margin: 40px auto;
    font-size: 20px;
  }

  .start {
    margin-top: 100px;
  }

  .screen {
    margin-top: 120px;
  }

  #about-screen {
    width: 90%;
  }
}
